/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body{
  background-image:url('../images/background.jpg');
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:100%;
  width:100%;
}
.framework_logos{
  width:100px;
  height:100px;
}
canvas {
    border: 1px solid #ccc;
}
.latest_news{
  padding-left:15px;
  text-align:justify;
}
.menu_item{
  width:100px;
  height:100px;
}
